allow hal_wifi_default sysfs:file write;
allow hal_wifi_default wifi_data_file:dir { read write search };
allow hal_wifi_default wifi_data_file:file rw_file_perms;